<div class="w-full bg-white">

  <div class="max-w-screen-xl mx-auto px-4">
    <!-- Background oval Shape in the left side |Exportthe oval from figma wanna put it in root parent div give it  absolute and  height left 0 and  zindex -1 width 50%|  -->
     <!-- <div class="absolute left-0 h-auto w-2/7 z-0">

      <img src="assets/images/oval.svg" alt="oval" class="h-full w-full object-cover">
    </div> -->



      <!-- Main Content -->
      <div class="relative z-10">
        <!-- Navbar -->
        <app-navbar></app-navbar>

        <!-- Hero Section -->
        <app-hero></app-hero>

        <!-- About Us Section -->
        <app-about-us></app-about-us>
        <!-- Mission Section -->
        <app-mission></app-mission>
        <!--role -->
        <app-role></app-role>
      <!-- Create DPI Button -->
      <div class="mt-8 flex justify-center">
        <a routerLink="/create-dpi" class="btn btn-primary">Create DPI</a>
      </div>


      </div>

      <!-- Footer -->
    </div>
  </div>
  <app-footer></app-footer>