<div class="rounded-lg p-8 my-16 mx-16">
    <div class="w-full mb-16">
        <h2 class="text-3xl font-bold text-center text-textblue leading-tight">
            With A Focus On Efficiency And Accessibility, Our Mission Is To:
        </h2>
    </div>
    <div class="flex flex-wrap items-start justify-between mt-8">
   
        <!-- Image Section left -->
        <div class="w-full md:w-1/2 flex justify-center mt-8 md:mt-0">
            <img src="assets/mission.svg" alt="About Us" class="rounded-lg shadow-lg w-full max-w-sm md:max-w-md" />
        </div>
         <!-- Text Section right-->

        <div class="w-full md:w-1/2 space-y-6">

            <ul class="list-disc list-inside text-secondary text-xl leading-relaxed pl-4">
                <li class="flex items-start"><span class="mr-2">•</span><span>Simplify patient record management.</span></li>
                <li class="flex items-start"><span class="mr-2">•</span><span>Enhance communication between doctors, nurses, and technicians.</span></li>
                <li class="flex items-start"><span class="mr-2">•</span><span>Empower patients to access their medical information anytime.</span></li>
                <li class="flex items-start"><span class="mr-2">•</span><span>Whether you're a doctor diagnosing a patient, a nurse providing care, or a patient seeking clarity about your health, our solution is designed to make healthcare easier for everyone.</span></li>
            </ul>

        </div>
    </div>
</div>
