<main class="main">
  <h1 class="page-title">Creation de la consultation:</h1>

  <div class="two-column-layout">
    <!-- Left Column -->
    <div class="column">
      <div class="card">
        <div class="date-section">
          <label>Date:</label>
          <input type="text" [value]="currentDate" readonly class="date-input">
        </div>
      </div>

      <div class="card">
        <h2>Ajouter Ordonnance:</h2>
        <div class="ordonnance-form">
          <input
              type="text"
              placeholder="médicament"
              class="input"
              [(ngModel)]="nouveauMedicament.name"
              #nomInput="ngModel"
              required>
          <input
              type="number"
              placeholder="Dose"
              class="input"
              [(ngModel)]="nouveauMedicament.dosage"
              #doseInput="ngModel"
              min="1"
              required>
          <input
              type="number"
              placeholder="Durée"
              class="input"
              [(ngModel)]="nouveauMedicament.duration"
              #dureeInput="ngModel"
              min="1"
              required>
          <button
              class="button"
              (click)="ajouterMedicament()"
              [disabled]="!nomInput.valid || !doseInput.valid || !dureeInput.valid || nouveauMedicament.dosage <= 0 || nouveauMedicament.duration <= 0">
            Ajouter
          </button>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Médicament</th>
              <th>Dose</th>
              <th>Durée</th>
            </tr>
          </thead>
          <tbody>
            @for (medicament of medicaments; track medicament.name; let i = $index) {
            <tr
                [class.selected]="selectedRow === i"
                (click)="selectRow(i)"
                >
                <td>{{medicament.name}}</td>
                <td>{{medicament.dosage}}</td>
                <td>{{medicament.duration}}</td>
            </tr>
            }
          </tbody>
        </table>

        <div class="delete-button-container">
          <button
              class="delete-button"
              [disabled]="selectedRow === null"
              (click)="supprimerMedicament()">
            Supprimer
          </button>
        </div>

        <div class="infirmier-section">
          <h3>Ajouter infirmier:</h3>
          @if (isLoading) {
          <div>Loading...</div>
          }
          @else if (errorMessage) {
          <div>{{ errorMessage }}</div>
          }
          @else {
          <select class="select-input" [(ngModel)]="infirmier_id">
            @for (infirmier of list_infirmier; track infirmier.id) {
            <option value="{{ infirmier.infirmier_id }}">{{ infirmier.first_name }} {{ infirmier.last_name }}</option>
            }
          </select>
          }
        </div>
      </div>
      <div class="card">
        <h2>Bilan Biologique:</h2>
        <div class="radio-grid">
          <label class="radio-label">
            <input type="radio"
                   name="bilan"
                   [value]="'Bilan sanguin'"
                   [(ngModel)]="selectedBilanBioType"
                   (change)="onBilanBioChange()">
            <span>Bilan Sanguin</span>
          </label>

          <label class="radio-label">
            <input type="radio"
                   name="bilan"
                   [value]="'Bilan d\'urine'"
                   [(ngModel)]="selectedBilanBioType"
                   (change)="onBilanBioChange()">
            <span>Les analyses d'urines</span>
          </label>

          <label class="radio-label">
            <input type="radio"
                   name="bilan"
                   [value]="'Bilan hepatique'"
                   [(ngModel)]="selectedBilanBioType"
                   (change)="onBilanBioChange()">
            <span>Bilan Hepatique</span>
          </label>

          <!-- TODO: add 'Bilan renal' -->
        </div>
        <div class="select-container">
          @if (isLoading) {
          <div>Loading...</div>
          }
          @else if (errorMessage) {
          <div>{{ errorMessage }}</div>
          }
          @else {
          <select class="select-input" [(ngModel)]="laborantin_id">
            @for (laborantin of list_laborantin; track laborantin.id) {
            <option value="{{ laborantin.laborantin_id }}">{{ laborantin.first_name }} {{ laborantin.last_name }}</option>
            }
          </select>
          }
        </div>
      </div>
    </div>

    <!-- Right Column -->
    <div class="column">
      <div class="card">
        <h2>Bilan Radiologique:</h2>
        <div class="radio-grid">
          <label class="radio-label">
            <input type="radio"
                   name="bilan"
                   [value]="'Radiographie'"
                   [(ngModel)]="selectedBilanRadioType"
                   (change)="onBilanRadioChange()">
            <span>Radiographie</span>
          </label>
          <label class="radio-label">
            <input type="radio"
                   name="bilan"
                   [value]="'Scanner'"
                   [(ngModel)]="selectedBilanRadioType"
                   (change)="onBilanRadioChange()">
            <span>Scanner</span>
          </label>
          <label class="radio-label">
            <input type="radio"
                   name="bilan"
                   [value]="'Mammographie'"
                   [(ngModel)]="selectedBilanRadioType"
                   (change)="onBilanRadioChange()">
            <span>Mammographie</span>
          </label>
          <label class="radio-label">
            <input type="radio"
                   name="bilan"
                   [value]="'IRM'"
                   [(ngModel)]="selectedBilanRadioType"
                   (change)="onBilanRadioChange()">
            <span>IRM</span>
          </label>
          <label class="radio-label">
            <input type="radio"
                   name="bilan"
                   [value]="'Echographie'"
                   [(ngModel)]="selectedBilanRadioType"
                   (change)="onBilanRadioChange()">
            <span>Echographie</span>
          </label>
        </div>
        <div class="select-container">
          @if (isLoading) {
          <div>Loading...</div>
          }
          @else if (errorMessage) {
          <div>{{ errorMessage }}</div>
          }
          @else {
          <select class="select-input" [(ngModel)]="radiologue_id">
            @for (radiologue of list_radiologue; track radiologue.id) {
            <option value="{{ radiologue.radiologue_id }}">{{ radiologue.first_name }} {{ radiologue.last_name }}</option>
            }
          </select>
          }
        </div>
      </div>

      <div class="card resume-card">
        <h2>Résumé:</h2>
        <textarea
            class="resume-textarea"
            placeholder="Rédigez votre résumé sur la consultation ici..."
            [(ngModel)]="resume">
        </textarea>
      </div>

      <div class="actions">
        <button class="button" (click)="enregistrerConsultation()">Enregistrer</button>
      </div>
    </div>
  </div>
</main>
