@if (isLogin) {
<header class="container">
    <div class="item">
      <img src="./assets/logo.png" alt="logo">
    </div>
    <div class="item " id="navbar">
        <button class="icon-button">
            <svg viewBox="0 0 24 24" class="icon" style="color: #FF3B30;">
                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4 M16 17l5-5-5-5 M21 12H9" 
                      stroke="currentColor" fill="none" stroke-width="2"/>
            </svg>
        </button>
        <button class="icon-button" >
            <svg viewBox="0 0 24 24" class="icon">
                <path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z" 
                      stroke="currentColor" fill="none" stroke-width="2"/>
            </svg>
        </button>
      <div style="margin-left: 50px;">
       <p id="username">{{userName}}</p>
       <p id="role">{{userRole}}</p>
       </div>
      <button class="avatar-button">
        <img id="avatar" src="./assets/avatar.jpg" alt="avatar">
      </button>
    </div>
  </header>

<body class="content">
  @switch (choice) {
    @case (0) {
      <app-patient-details></app-patient-details>

    }
    @case (1) {
      <app-admin-page></app-admin-page>

    }
    @case (2) {
      <p>this is laboratin</p>

    }
    @case (3) {
      <p>this is laboratin</p>

    }
    @case (4) {
      <app-inf-dashboard></app-inf-dashboard>

    }
    @case (5) {
      <app-dpi-list></app-dpi-list>

    }
  }
    
</body>
} @else {
  <app-login-box (loginSuccess)="handleLoginSuccess($event)"></app-login-box>
}