<div class="popup-overlay" [class.visible]="isVisible">
    <div class="popup-container">
      <div class="popup-content">
        <h2 class="popup-title">
          {{ bilanType === 'biologique' ? 'Bilan Biologique' : 'Bilan Radiologique' }}:
        </h2>
  
        <!-- Biological Bilan -->
         <ng-container *ngIf="bilanType === 'radiologique'">
          <div class="bilan-content">
            <h3>Radio: {{ bilanData?.type }}</h3>
            <div class="image-container">
              <img
                [src]="bilanData?.img"
                alt="Radiological scan"
                class="scan-image"
              />
            </div>
            <div class="card resume-card">
              <h2>Compte Rendu</h2>
              <textarea
                class="resume-textarea"
                placeholder="Rédigez votre résumé sur la consultation ici..."
                [(ngModel)]="CompteRendu"
              >
              </textarea>
            </div>
          </div>
        </ng-container>
  
        <!-- Radiological Bilan -->
        <!-- <ng-container *ngIf="bilanType === 'radiologique'">
          <div class="bilan-content">
            <h3>Radio: {{ bilanData?.type }}</h3>
            <div class="image-container">
              <img
                [src]="bilanData?.img"
                alt="Radiological scan"
                class="scan-image"
              />
            </div>
            <div class="report-text">
              {{ this.CompteRendu }}
            </div>
          </div>
        </ng-container> -->
  
        <!-- Footer with Cancel and Save Buttons -->
        <div class="popup-footer">
          <button class="cancel-button" (click)="onClose()">Annuler</button>
          <!-- <button class="save-button" (click)="onSave()">Enregister</button> -->
        </div>
      </div>
    </div>
  </div>
  