<div class="popup-overlay" [class.visible]="isVisible">
  <div class="popup-container">
    <div class="popup-content">
      <h2 class="popup-title">
        'Bilan Biologique'
      </h2>

      <!-- Biological Bilan -->
      <ng-container >
        <div class="bilan-content">
          <h3>{{ bilanData?.BilanType }}:</h3>
          <div class="analysis-table">
            <div class="table-header">
              <div class="header-cell">Bilan</div>
              <div class="header-cell">Résultat</div>
            </div>
            <div class="table-content">
              <div class="table-row" *ngFor="let test of editableTestResults; let i = index">
                <div class="cell">{{ test.name }}</div> <!-- Displaying test name -->
                <div class="cell">
                  <input
                    type="text"
                    [(ngModel)]="test.result"  
                    class="input-field"
                    placeholder="Enter result"
                  />
                </div> <!-- Editable result -->
              </div>
            </div>
          </div>
            <div *ngIf="bilanData?.graphData; else sampleGraph">
              <div class="graph-container">
                <div class="graph-title">Visualisation des résultats</div>
                <img [src]="bilanData.graphData" alt="Graphique des résultats" class="graph-image">
              </div>
            </div>
            <ng-template #sampleGraph>
              <div class="graph-container">
                <div class="graph-title">Visualisation des résultats</div>
                <img src="assets/sample.png" alt="Graphique des résultats" class="graph-image">
              </div>
            </ng-template>
            
          <!-- Reserved space for graph
          <div class="graph-container">
            <img
              [src]="bilanData?.img"
              alt="Graph placeholder"
              class="graph-image"
            />
          </div> -->
        </div>
      </ng-container>


      <!-- Footer with Cancel and Save Buttons -->
      <div class="popup-footer">
        <button class="cancel-button" (click)="onClose()">Annuler</button>
        <button class="save-button" (click)="onSave()">Enregister</button>
      </div>
    </div>
  </div>
</div>
